<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="MonoGame.Framework.WindowsDX" version="3.7.1.189" targetFramework="net46" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="PostSharp" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Community.DeepSerializable" version="1.3.0" targetFramework="net461" />
  <package id="PostSharp.Community.Packer" version="1.1.0" targetFramework="net461" />
  <package id="PostSharp.Community.StructuralEquality" version="1.1.0" targetFramework="net461" />
  <package id="PostSharp.Community.ToString" version="1.2.0" targetFramework="net461" />
  <package id="PostSharp.Community.Virtuosity" version="1.1.0" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Patterns.Model" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.6.11" targetFramework="net461" />
  <package id="PostSharp.Redist" version="6.6.11" targetFramework="net461" />
  <package id="RectangleF" version="2.0.0" targetFramework="net46" />
  <package id="SharpDX" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.MediaFoundation" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.XAudio2" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.8.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net46" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
</packages>